<a href="https://colab.research.google.com/github/MennaKhaled17/CPP-UniPortal/blob/main/HealthCareTask2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/healthcare/students_train.csv')

Mounted at /content/drive

In [ ]:
df.shape

(55500, 16)

In [ ]:
df.head()

,ID,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,1.0,Bobby JacksOn,30.0,Male,B-,Cancer,1/31/2024,Matthew Smith,Sons and Miller,Blue Cross,18856.28131,328.0,Urgent,2/2/2024,Paracetamol,Normal
1,2.0,LesLie TErRy,62.0,Male,A+,Obesity,8/20/2019,Samantha Davies,Kim Inc,Medicare,33643.32729,265.0,Emergency,8/26/2019,Ibuprofen,Inconclusive
2,3.0,DaNnY sMitH,76.0,Female,A-,Obesity,9/22/2022,Tiffany Mitchell,Cook PLC,Aetna,27955.09608,205.0,Emergency,10/7/2022,Aspirin,Normal
3,4.0,andrEw waTtS,28.0,Female,O+,Diabetes,11/18/2020,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.78241,450.0,Elective,12/18/2020,Ibuprofen,Abnormal
4,5.0,adrIENNE bEll,43.0,Female,AB+,Cancer,9/19/2022,Kathleen Hanna,White-White,Aetna,14238.31781,458.0,Urgent,10/9/2022,Penicillin,Abnormal

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55500 entries, 0 to 55499
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  50000 non-null  float64
 1   Name                50000 non-null  object
 2   Age                 50000 non-null  float64
 3   Gender              50000 non-null  object
 4   Blood Type          50000 non-null  object
 5   Medical Condition   50000 non-null  object
 6   Date of Admission   50000 non-null  object
 7   Doctor              50000 non-null  object
 8   Hospital            50000 non-null  object
 9   Insurance Provider  50000 non-null  object
 10  Billing Amount      50000 non-null  float64
 11  Room Number         50000 non-null  float64
 12  Admission Type      50000 non-null  object
 13  Discharge Date      50000 non-null  object
 14  Medication          50000 non-null  object
 15  Test Results        50000 non-null  object
dtypes: float64(4), object(12)
memory usage: 6.8+ MB

In [ ]:
for i in df.select_dtypes(include = "object").columns:
  print(df[i].value_counts())
  print("*"*40)

Name
DAvId muNoZ          2
PAUL SMith           2
DAniEl sMIth         2
TInA white           2
LOrI coOK            2
                    ..
NanCY DAughERtY      1
ryaN moss            1
MERcEdes garCIa      1
RebECCA VelAzQUEZ    1
dAnieLlE hARVEY      1
Name: count, Length: 49992, dtype: int64
****************************************
Gender
Female    25011
Male      24989
Name: count, dtype: int64
****************************************
Blood Type
AB+    6291
B+     6278
A-     6261
AB-    6259
A+     6246
O+     6235
B-     6230
O-     6200
Name: count, dtype: int64
****************************************
Medical Condition
Arthritis       8439
Diabetes        8384
Hypertension    8319
Cancer          8294
Obesity         8292
Asthma          8272
Name: count, dtype: int64
****************************************
Date of Admission
3/16/2024     45
8/10/2023     44
12/28/2021    43
8/24/2019     43
11/4/2019     43
              ..
5/28/2022     14
5/23/2022     13
2/6/2021      13
7/22/2019     12
2/5/2022      11
Name: count, Length: 1827, dtype: int64
****************************************
Doctor
Michael Smith       24
John Smith          21
Michael Johnson     19
Robert Smith        19
David Smith         18
                    ..
Dr. Steven Doyle     1
Joan Adams           1
Eugene Page          1
Theresa Patel        1
Barbara Allen        1
Name: count, Length: 40341, dtype: int64
****************************************
Hospital
LLC Smith                    40
Smith Ltd                    35
Ltd Smith                    35
Johnson PLC                  35
Smith PLC                    33
                             ..
Houston PLC                   1
Hammond Ltd                   1
Moran Smith and Galloway,     1
Winters Martin, and Neal      1
James-Owen                    1
Name: count, Length: 39876, dtype: int64
****************************************
Insurance Provider
Cigna               10091
Medicare            10058
UnitedHealthcare    10002
Blue Cross          10001
Aetna                9848
Name: count, dtype: int64
****************************************
Admission Type
Elective     16827
Urgent       16784
Emergency    16389
Name: count, dtype: int64
****************************************
Discharge Date
12/13/2021    45
3/15/2020     45
9/3/2020      45
8/11/2020     44
2/25/2022     43
              ..
6/4/2024       2
5/11/2019      2
5/9/2019       1
6/6/2024       1
6/5/2024       1
Name: count, Length: 1856, dtype: int64
****************************************
Medication
Lipitor        10032
Ibuprofen      10003
Penicillin      9995
Aspirin         9992
Paracetamol     9978
Name: count, dtype: int64
****************************************
Test Results
Abnormal        16772
Normal          16684
Inconclusive    16544
Name: count, dtype: int64
****************************************

In [ ]:
# Set pandas to display all columns and rows
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# Show number of missing values for all 16 features
print(df.isnull().sum())

ID                    5500
Name                  5500
Age                   5500
Gender                5500
Blood Type            5500
Medical Condition     5500
Date of Admission     5500
Doctor                5500
Hospital              5500
Insurance Provider    5500
Billing Amount        5500
Room Number           5500
Admission Type        5500
Discharge Date        5500
Medication            5500
Test Results          5500
dtype: int64

In [ ]:
# Drop rows where ALL values are null (entire row is empty)
df = df.dropna(how='all')

# Verify the new shape (should be 50,000 rows now)
print("New shape after dropping null rows:", df.shape)  # Expected: (50000, 16)

# Confirm no fully null rows remain
print("\nNull counts after cleaning:")
print(df.isnull().sum())

New shape after dropping null rows: (50000, 16)

Null counts after cleaning:
ID                    0
Name                  0
Age                   0
Gender                0
Blood Type            0
Medical Condition     0
Date of Admission     0
Doctor                0
Hospital              0
Insurance Provider    0
Billing Amount        0
Room Number           0
Admission Type        0
Discharge Date        0
Medication            0
Test Results          0
dtype: int64

In [ ]:
(df.isnull().sum()/df.shape[0])*100

ID                    0.0
Name                  0.0
Age                   0.0
Gender                0.0
Blood Type            0.0
Medical Condition     0.0
Date of Admission     0.0
Doctor                0.0
Hospital              0.0
Insurance Provider    0.0
Billing Amount        0.0
Room Number           0.0
Admission Type        0.0
Discharge Date        0.0
Medication            0.0
Test Results          0.0
dtype: float64

In [ ]:
df = df.drop(['ID'], axis=1)

In [ ]:
duplicates = df.duplicated()
print(f"Number of duplicate rows: {duplicates.sum()}")

Number of duplicate rows: 0

In [ ]:
missing_rows = df[df.isnull().any(axis=1)]
print("Rows with missing values:")
print(missing_rows)

Rows with missing values:
Empty DataFrame
Columns: [Name, Age, Gender, Blood Type, Medical Condition, Date of Admission, Doctor, Hospital, Insurance Provider, Billing Amount, Room Number, Admission Type, Discharge Date, Medication, Test Results]
Index: []

In [ ]:
print("Percentage of missing values per column:")
print((df.isnull().mean() * 100).round(2))

Percentage of missing values per column:
Name                  0.0
Age                   0.0
Gender                0.0
Blood Type            0.0
Medical Condition     0.0
Date of Admission     0.0
Doctor                0.0
Hospital              0.0
Insurance Provider    0.0
Billing Amount        0.0
Room Number           0.0
Admission Type        0.0
Discharge Date        0.0
Medication            0.0
Test Results          0.0
dtype: float64

FileNotFoundError: [Errno 2] No such file or directory: 'students_train.csv'

In [2]:
# prompt: i need to remove any garbage data

from google.colab import drive
import pandas as pd
drive.mount('/content/drive')

df = pd.read_csv('/content/drive/MyDrive/healthcare/students_train.csv')

# Identify columns with a high percentage of missing values
missing_percentage = df.isnull().sum() / len(df) * 100
columns_to_drop = missing_percentage[missing_percentage > 50].index  # Adjust threshold as needed

# Drop columns with excessive missing data
df = df.drop(columns=columns_to_drop)

# Handle remaining missing values (e.g., imputation or removal)
for col in df.select_dtypes(include=['number']):
    df[col] = df[col].fillna(df[col].median()) # Use median for numerical columns
for col in df.select_dtypes(include=['object']):
    df[col] = df[col].fillna(df[col].mode()[0]) # Use mode for categorical columns


# Remove duplicate rows
df = df.drop_duplicates()

# Remove rows with any remaining missing values (optional, depends on your needs)
df = df.dropna()

# Now the DataFrame should be cleaner
print(df.isnull().sum())
print(df.info())

Mounted at /content/drive
ID                    0
Name                  0
Age                   0
Gender                0
Blood Type            0
Medical Condition     0
Date of Admission     0
Doctor                0
Hospital              0
Insurance Provider    0
Billing Amount        0
Room Number           0
Admission Type        0
Discharge Date        0
Medication            0
Test Results          0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 50001 entries, 0 to 50000
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  50001 non-null  float64
 1   Name                50001 non-null  object
 2   Age                 50001 non-null  float64
 3   Gender              50001 non-null  object
 4   Blood Type          50001 non-null  object
 5   Medical Condition   50001 non-null  object
 6   Date of Admission   50001 non-null  object
 7   Doctor              50001 non-null  object
 8   Hospital            50001 non-null  object
 9   Insurance Provider  50001 non-null  object
 10  Billing Amount      50001 non-null  float64
 11  Room Number         50001 non-null  float64
 12  Admission Type      50001 non-null  object
 13  Discharge Date      50001 non-null  object
 14  Medication          50001 non-null  object
 15  Test Results        50001 non-null  object
dtypes: float64(4), object(12)
memory usage: 6.5+ MB
None

In [5]:
# prompt: remove  any outliers in the data

import pandas as pd
from scipy import stats

# Assuming 'df' is your DataFrame

# Identify numerical columns
numerical_cols = df.select_dtypes(include=['number']).columns

# Iterate through numerical columns and remove outliers using IQR method
for col in numerical_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    df = df[(df[col] >= lower_bound) & (df[col] <= upper_bound)]

# Alternatively, you can use Z-score method
# for col in numerical_cols:
#     z = np.abs(stats.zscore(df[col]))
#     df = df[(z < 3)] # Remove values with Z-score > 3

print(df.shape) # Check the new shape of your DataFrame

(50001, 16)